.nav{
    background-color: transparent;
    position: sticky !important;
    top:0;
    left:0;
    width: 100%; /* Add this to make the navbar span the full width of the page */
    z-index: 1000;
    transition: background-color 0.7s ease;
}
.navbar.scrolled {
    background: black;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    
}
.nav-container * {
    color: white !important;
}
.contact-btn{
    border: 1.5px solid white;
    box-sizing: border-box;
    padding: 1rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: black;
    text-decoration: none;
}
.contact-btn:hover{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    transition: color 0.5s ease;
}
.navbar-link{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.navbar-link:hover{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    transition: color 0.5s ease;
}
.navbar-icon{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.navbar-icon:hover{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    transition: color 0.5s ease;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

  